# sublime text workspace and project environment
web_development_classes.sublime-project
web_development_classes.sublime-workspace

# the html build for README.md to be able to visualise the markdown code
README.html

node_modules