*{
    margin: 0px;
}

body {
    background-color: aliceblue;
    font-family: cursive;
}

header {
    text-align: center;
    margin: 20px;
}

nav {
    margin: 20px;
    padding: 10px;
    border-width: 3px 0;
    border-color: gray;
    border-style: solid;
}

nav a{
    color: black;
    text-decoration: none;
    padding: 0 30px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

article {
    width: 70%;
    padding: 20px;
    float: left;
}

article p {
    color: gray;
    margin: 20px;
}

section {
    margin-top: 30px;
    padding: 20px;
}

figure {
    float: left;
}

figure img {
    margin: 20px 20px 0 0;
}

aside {
    width: 20%;
    padding: 20px;
    text-align: center;
    float: right;
}

aside p {
    font-size: 12px;
}

aside img {
    border-radius: 50%;
}

footer {
    width: 100%;
    display: inline-block;
    background-color: gray;
    text-align: center;
}
